global:
  objectStoreConfigLocation: /vault/secrets/bucket.yml

querytls:
  enabled: true
  stores:
  - dp-test.westeurope.cloudapp.azure.com:443

  # Enable DNS discovery for stores
  storeDNSDiscovery: false
  # Enable DNS discovery for sidecars (this is for the chart built-in sidecar service)
  sidecarDNSDiscovery: false
  # Enable DNS discovery for queries
  ruleDNSDiscovery: false

query:
  # Adds query-tls to the store
  querytlsStore: true

store:
  annotations:
    vault.hashicorp.com/agent-inject: "true"
    vault.hashicorp.com/role: "k8s-secrets"
    vault.hashicorp.com/agent-inject-secret-bucket.yml: "k8s/data/secrets/storage-account-creds"
    vault.hashicorp.com/agent-inject-template-bucket.yml: |
      {%- raw %}
      {{- with secret "k8s/data/secrets/storage-account-creds" -}}
      type: AZURE
      config:
        storage_account: "{{ .Data.data.sa_name }}"
        storage_account_key: "{{ .Data.data.sa_key }}"
        container: "thanos"
        endpoint: ""
        max_retries: 3
      {{- end -}}
      {%- endraw %}

compact:
  annotations:
    vault.hashicorp.com/agent-inject: "true"
    vault.hashicorp.com/role: "k8s-secrets"
    vault.hashicorp.com/agent-inject-secret-bucket.yml: "k8s/data/secrets/storage-account-creds"
    vault.hashicorp.com/agent-inject-template-bucket.yml: |
      {%- raw %}
      {{- with secret "k8s/data/secrets/storage-account-creds" -}}
      type: AZURE
      config:
        storage_account: "{{ .Data.data.sa_name }}"
        storage_account_key: "{{ .Data.data.sa_key }}"
        container: "thanos"
        endpoint: ""
        max_retries: 3
      {{- end -}}
      {%- endraw %}

bucket:
  annotations:
    vault.hashicorp.com/agent-inject: "true"
    vault.hashicorp.com/role: "k8s-secrets"
    vault.hashicorp.com/agent-inject-secret-bucket.yml: "k8s/data/secrets/storage-account-creds"
    vault.hashicorp.com/agent-inject-template-bucket.yml: |
      {%- raw %}
      {{- with secret "k8s/data/secrets/storage-account-creds" -}}
      type: AZURE
      config:
        storage_account: "{{ .Data.data.sa_name }}"
        storage_account_key: "{{ .Data.data.sa_key }}"
        container: "thanos"
        endpoint: ""
        max_retries: 3
      {{- end -}}
      {%- endraw %}

rule:
  annotations:
    vault.hashicorp.com/agent-inject: "true"
    vault.hashicorp.com/role: "k8s-secrets"
    vault.hashicorp.com/agent-inject-secret-bucket.yml: "k8s/data/secrets/storage-account-creds"
    vault.hashicorp.com/agent-inject-template-bucket.yml: |
      {%- raw %}
      {{- with secret "k8s/data/secrets/storage-account-creds" -}}
      type: AZURE
      config:
        storage_account: "{{ .Data.data.sa_name }}"
        storage_account_key: "{{ .Data.data.sa_key }}"
        container: "thanos"
        endpoint: ""
        max_retries: 3
      {{- end -}}
      {%- endraw %}
