global:
  objectStoreConfigLocation: /vault/secret/bucket.yml

query:
  # Prefix for API and UI endpoints. This allows thanos UI to be served on a sub-path.
  # This option is analogous to --web.route-prefix of Promethus.
  webRoutePrefix: "/thanos-query"
  # Static prefix for all HTML links and redirect
  #  URLs in the UI query web interface. Actual
  #  endpoints are still served on / or the
  #  web.route-prefix. This allows thanos UI to be
  #  served behind a reverse proxy that strips a URL
  #  sub-path.
  webExternalPrefix: "/thanos-query"

  # The http endpoint to communicate with other components
  http:
    ingress:
      hosts:
      - {{ fqdn }}
      tls:
      - secretName: thanos-query-tls
        hosts:
          - {{ fqdn }}

store:
  annotations:
    vault.hashicorp.com/agent-inject: "true"
    vault.hashicorp.com/role: "k8s-secrets"
    vault.hashicorp.com/agent-inject-secret-bucket.yml: "k8s/data/secrets/storage-account-creds"
    vault.hashicorp.com/agent-inject-template-bucket.yml: |
      {%- raw %}
      {{- with secret "k8s/data/secrets/storage-account-creds" -}}
      type: AZURE
      config:
        storage_account: "{{ .Data.data.sa_name }}"
        storage_account_key: "{{ .Data.data.sa_key }}"
        container: "thanos"
        endpoint: ""
        max_retries: 3
      {{- end -}}
      {%- endraw %}

compact:
  annotations:
    vault.hashicorp.com/agent-inject: "true"
    vault.hashicorp.com/role: "k8s-secrets"
    vault.hashicorp.com/agent-inject-secret-bucket.yml: "k8s/data/secrets/storage-account-creds"
    vault.hashicorp.com/agent-inject-template-bucket.yml: |
      {%- raw %}
      {{- with secret "k8s/data/secrets/storage-account-creds" -}}
      type: AZURE
      config:
        storage_account: "{{ .Data.data.sa_name }}"
        storage_account_key: "{{ .Data.data.sa_key }}"
        container: "thanos"
        endpoint: ""
        max_retries: 3
      {{- end -}}
      {%- endraw %}

bucket:
  annotations:
    vault.hashicorp.com/agent-inject: "true"
    vault.hashicorp.com/role: "k8s-secrets"
    vault.hashicorp.com/agent-inject-secret-bucket.yml: "k8s/data/secrets/storage-account-creds"
    vault.hashicorp.com/agent-inject-template-bucket.yml: |
      {%- raw %}
      {{- with secret "k8s/data/secrets/storage-account-creds" -}}
      type: AZURE
      config:
        storage_account: "{{ .Data.data.sa_name }}"
        storage_account_key: "{{ .Data.data.sa_key }}"
        container: "thanos"
        endpoint: ""
        max_retries: 3
      {{- end -}}
      {%- endraw %}

rule:
  annotations:
    vault.hashicorp.com/agent-inject: "true"
    vault.hashicorp.com/role: "k8s-secrets"
    vault.hashicorp.com/agent-inject-secret-bucket.yml: "k8s/data/secrets/storage-account-creds"
    vault.hashicorp.com/agent-inject-template-bucket.yml: |
      {%- raw %}
      {{- with secret "k8s/data/secrets/storage-account-creds" -}}
      type: AZURE
      config:
        storage_account: "{{ .Data.data.sa_name }}"
        storage_account_key: "{{ .Data.data.sa_key }}"
        container: "thanos"
        endpoint: ""
        max_retries: 3
      {{- end -}}
      {%- endraw %}